.Board {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    flex-direction: row;
    gap: 0px;
    align-content: center;
}

.BoardBarrier {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(33,33,33,0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}