.wrapper, html, body {
  height: 100%;
  margin: 0;
  background-color: #212121;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Main {
  margin: 1rem;
  display: grid;
  grid-template-areas: 
    "left-top center right" 
    "left-bottom center right";
  grid-template-columns: minmax(15rem,1fr) auto minmax(15rem,1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 1rem;
  box-sizing: border-box;
  min-width: fit-content;
  font-size: 18px;
  height: 100%;
  color: whitesmoke;
}

.Title {
  width: calc(160px + 15vw);
}

.LeftTop {
  grid-area: left-top;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.LeftBottom {
  grid-area: left-bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: end;
}

.Center {
  grid-area: center;
  display: flex;
	justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Right {
  grid-area: right;
  display: flex;
	justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.Credits {
  color: #6e6e6e;
  position: absolute;
  bottom: 1rem;
}

.Settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

@media only screen and (max-width: 1390px) {
  .Main {
    grid-template-areas: 
      "left-top right"
      "center right"
      "left-bottom left-bottom";
    grid-template-columns: minmax(15rem,1fr) auto;
    grid-template-rows: auto auto auto;
  }

  .Credits {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .Main {
    grid-template-areas: 
      "left-top"
      "left-bottom"
      "center"
      "right";
    grid-template-rows: auto auto auto auto;
  }

  .LeftTop {
    align-items: center;
  }

  .LeftBottom {
    align-items: center;
  }

  .Right {
    align-items: center;
  }

  .Settings {
    align-items: center;
  }

  .Credits {
    display: none;
  }
}

.Result {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
}

.Reset {
  background: none;
  border: none;
  padding-right: 4px;
  color: whitesmoke;
  text-decoration: underline;
  cursor: pointer;
}