.Info {
    color: #FFFFFF;
    font-size: calc(15px + 1vw);
}

@media (max-width:487px) {
    .Info {
        margin-right: 0;
    }
}

@media (min-width:487px) {
    .Info {
        margin-right: auto;
    }
}